<!-- ERROR HTTP -->
<div class="card text-center border-danger">
  <div class="card-header bg-danger-subtle text-danger-emphasis fw-bold">
    ERROR
  </div>
  <div class="card-body">
    <h5 class="card-title">Error cargando los usuarios</h5>
    <p class="card-text">
      Se ha producido un error en la solicitud http cargando los usuarios.
    </p>
    <a href="javascript:location.reload()" class="btn btn-primary">Recargar</a>
  </div>
  <div class="card-footer bg-danger-subtle text-body-secondary fw-bold">
    Usuarios
  </div>
</div>
